<div id="<%= dom_id auction %>">
  <p>
    <strong>Asset:</strong>
    <%= auction.asset_id %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= auction.creator %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= auction.started_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= auction.ends_at %>
  </p>

</div>
